.element__like {
    width: 22px;
    height: 19px;
    background-image: url('../../../images/like_diabled.svg');
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: center;
    margin-right: 15px;
    transition: opacity .2s linear;
}

.element__like:hover {
    cursor: pointer;
    opacity: .5;
}
