.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #545454;
    margin: 45px 0 40px;
}

@media screen AND (max-width: 1150px) {
    .header {
        margin-top: 40px;
    }
}

@media screen AND (max-width: 896px) {
    .header {
        margin-top: 34px;
    }
}

@media screen AND (max-width: 544px) {
    .header {
        margin-top: 28px;
        margin-bottom: 42px;
    }
}