.profile__edit-avatar {
    position: relative;
    padding: 0;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}

@media screen AND (max-width: 775px) {
    .profile__edit-avatar {
        justify-self: center;
    }    
}