.profile__aboutSelf {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
}

@media screen AND (max-width: 775px) {
    .profile__aboutSelf {
        grid-column: 1/4;
        grid-row: 2;
    }    
}

@media screen AND (max-width: 469px) {
    .profile__aboutSelf {
        font-size: 14px;
        line-height: 17px;
    }    
}