.profile__aboutSelf {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
}

@media screen AND (max-width: 460px) {
    .profile__aboutSelf {
        font-size: 14px;
        line-height: 17px;
    }    
}