.popup-image__container {
    max-width: 75vw;
    max-height: 75vh;
    position: relative;
    top: 90px;
    bottom: 68px;
}

@media screen AND (max-width: 530px) {
    .popup-image__container {
        top: 136px;
        bottom: 133px;
    }
}